.productCard {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: var(--secondary);
  color: var(--background);
  border-radius: 14px;
  transition: all ease 200ms;
  align-items: flex-start;
  justify-content: center;
}

.productCard:hover {
  box-shadow: 0 0 20px rgba(16, 147, 245, 0.4);
}

.productName {
  font-weight: 700;
  font-size: large;
}

.productPrice {
  position: absolute;
  right: 40px;
  font-size: x-large;
}
